@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  color: white;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}
.body-div {
  background-image: linear-gradient(black 5%, blue);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
}
.logo {
  color: white;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .div-2 {
  width: 35%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  transition: ease-in-out 0.2s;
}

nav ul li a:hover {
  color: rgb(165, 90, 235);
}

.menu {
  width: 35px;
  display: none;
}

.menu-bar {
  background-color: black;
  border-left: 1px solid blue;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  padding: 20px 35px;
  display: none;
  opacity: 0;
  transition: ease-in-out 0.7s;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.menu-top img {
  width: 18px;
}
.menu-top h1 {
  font-size: 22px;
}

.menu-bar ul {
  list-style: none;
}
.menu-bar ul li {
  border-bottom: 1px solid blue;
  padding-bottom: 5px;
  margin-bottom: 8px;
  transition: ease-in-out 0.3s;
}

.menu-bar ul li a {
  color: white;
}

.menu-bar ul li:hover {
  border-bottom: 1px solid white;
}

.hero {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.container {
  width: 80%;
  display: flex;
}

.side-1 {
  width: 50%;
}
.small-tx {
  display: none;
}
.side-1 h1 {
  font-size: 60px;
  line-height: 1.2;
  margin-top: 60px;
  margin-bottom: 10px;
}

.side-1 p {
  margin-bottom: 20px;
}

.side-1 .button-div {
  display: flex;

  align-items: center;
}

.btn {
  padding: 13px 30px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 3px;
  transition: ease-in-out 0.2s;
  background-color: rgb(138, 26, 243);
}
.primary-btn {
  color: rgb(231, 229, 229);
  border: 3px solid rgb(138, 26, 243);
  margin-right: 20px;
}
.primary-btn:hover {
  border: 3px solid rgb(165, 90, 235);
  background-color: rgb(165, 90, 235);
}
.transparent-btn {
  background: none;
  border: 3px solid rgb(138, 26, 243);
  color: rgb(138, 26, 243);
}
.transparent-btn:hover {
  border: 3px solid rgb(159, 77, 236);
  color: rgb(165, 90, 235);
}

.side-2 {
  width: 50%;
  padding-top: 30px;
}
.arrow {
  width: 75%;
  margin-left: 50px;
}

.ab-div {
  display: none;
}
/** ----------------------------
-----------------------Media Queries -----------
***/
@media (max-width: 1161px) {
  .side-1 h1 {
    font-size: 45px;

    margin-top: 30px;
  }

  .side-1 p {
    font-size: 15px;
  }
  .side-2 {
    width: 45%;
    padding-top: 50px;
  }
  .arrow {
    width: 75%;
    margin-left: 80px;
  }
}
@media (max-width: 980px) {
  .side-1 h1 {
    font-size: 35px;
  }

  .side-1 p {
    font-size: 12px;
  }
  .side-2 {
    width: 40%;
    padding-top: 40px;
  }
  .arrow {
    width: 100%;
    margin-left: 80px;
  }
  .btn {
    padding: 11px 26px;
    font-size: 13px;
  }

  nav .div-2 {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .div-2 {
    display: none;
  }

  .menu {
    display: block;
  }

  .menu-bar.active_drop {
    display: block;
    opacity: 1;
  }
}
@media (max-width: 700px) {
  .logo {
    font-size: 30px;
  }

  .container {
    flex-direction: column;
  }
  .side-1 {
    width: 100%;
  }
  .small-tx {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  .big-tx {
    display: none;
  }
  .side-1 h1 {
    font-size: 50px;
    text-align: center;
    margin: 10px 0;
  }

  .side-1 .button-div {
    justify-content: center;
    align-items: center;
  }

  .side-2 {
    display: none;
  }

  .ab-div {
    display: block;
    display: flex;
    justify-content: center;
  }

  .ab {
    width: 120px;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .side-1 h1 {
    font-size: 35px;
  }
}
